html {
    height: 100%;
    width: 100%;
}
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url('img/la_cinema.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.row {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.search-page {
    height: calc(100vh - 56px); /*Sets height to browser height minus the height of the navbar to prevent overflow*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-row {
    padding: 5vh 0 5vh 0;
    border-radius: 10px;
    background-color: #0000007a;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.movie-poster {
    max-width: 100%;
    height: auto;
}

.results-header {
    font-size: 1.5rem;
}

.hero {
    padding: 0 !important;
}

#results-carousel {
    max-height: 70vh;
    min-width: auto;
}

#results-carousel .carousel-inner,
#results-carousel .carousel-inner .carousel-item {
        max-height: inherit;
        min-width: inherit;
}

#results-carousel .carousel-inner .carousel-item .movie-poster {
    min-height: 500px;
    max-height: 80vh;
    width: auto;
    margin: 0 auto;
}

.navbar-row {
    width: 100vw;
    width: 100%;
}

#carousel-information {
    background-color: #0000007a;
    border-radius: 10px;
}

#left-control,
#right-control {
    background-color: #1d1d1dc2;
}

#movie-page {
    background-color: #ffffffcf;
}

#movie-reviews {
    border-radius: 10px;
}

.reviews-list {
    list-style: none;
    padding: 0;
}

.clip-list {
    list-style: none;
    padding: 0;
}

.clip-thumbnail{
    width: 25%;
}

.actors-list {
    list-style: none;
    padding: 0;
}

.clip-name {
    margin: 0;
}

.actor-data {
    margin: 0;
    font-size: .75rem;
}

#about {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #ffffffcf;
    font-weight: 800;
}

.about-div {
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.social-icons a {
    font-size: 3rem;
    color: #0000000;
}

@media screen and (min-width: 768px){
    body {
        background-size: 100% 100vh;
    }

    #results-carousel,
    #results-carousel .carousel-inner,
    #results-carousel .carousel-inner .carousel-item {
        max-height: 80vh;
        min-height: 80vh;
        min-width: initial;
        overflow: hidden;
    }
    
    #results-carousel .carousel-inner .carousel-item .movie-poster {
        min-height: 80vh;
        max-height: 80vh;
        width: auto;
        margin: 0 auto;
    }

    #results-page {
        max-width: 50vw;
    }
}

@media screen and (min-width: 1921px) {
    html {
        font-size: 1.5rem;
    }
}