html {
    box-sizing: border-box !important;
    font-size: 22px;
    min-height: 100%;
    width: 100%;
    background-image: url('images/la_cinema.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: roboto, sans-serif;
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding-top: 60px;
}

*, *:after, *:before {
    box-sizing: inherit;
}

a {
    color: black;
}

a:visited {
    color: lightslategray;
}

a:focus {
    border: 2px solid red;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    min-width: 100%;
    height: 60px;
    background-color: #212529;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
}

.nav-bar a {
    color: inherit;
    text-decoration: inherit;
}

.nav-left {
    position: absolute;
    left: 0;
    font-size: 1em;
    font-family: Limelight, cursive;
}

.search-header {
    font-family: Limelight, cursive;
}

.nav-right {
    color: lightgray !important;
}

h5 {
    background-color: #212529;
    color: white;
}

.submit-button {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 12px 2px 12px 0;
    width: 30%;
    font-size: .8em;
    border: none;
    margin-left: -2px;
    background-color: greenyellow;
}

.nav-right:hover {
    color: white !important;
}

.nav-item {
    margin: 0 10px;
}

.hidden {
    display: none;
}

.hero {
    background-color: rgba(255, 255, 255, 0.9);
    min-height: calc(100vh - 60px);
    width: 100%;
}

.content {
    max-width: 310px;
    margin: 0 auto;
}

.search-page {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
}

.search-header {
    font-size: 52px;
    width: 310px;
    margin: 0 0 32px;
}

#movie-input {
    padding: 10px;
    width: 70%;
    margin-right: -5px;
    font-size: .8em;
}

.search-form {
    width: 310px;
}

.results-list {
    padding: 0;
}

.results {
    display: inline-block;
    max-width: 100%;
    margin: 0 auto;
}

.results-list {
    column-count: 1;
    column-width: 310px;
    column-fill: balance;
}

.movie-poster {
    float: left;
}

.result-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    break-inside: avoid;
    background-color: white;
}

.return-button {
    display: block;
    padding:10px;
    margin: 10px auto;
}

.movie-poster {
    float: left;
    width: 100%;
    height: auto;
}

.movie-title {
    float: left;
    text-align: left;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.release-date {
    float: left;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}

.description {
    clear: both;
}

.results-header {
    margin: 10px auto;
    background-color: white !important;
    color: black !important;
}

.author-header {
    background-color: initial;
    color: initial;
}

.main-movie-title {
    font-weight: 600;
    margin: 0;
}

.main-release-date {
    font-weight: 300;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.main-description {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

.movie-information {
    box-sizing: border-box;
    overflow-y: auto;
    margin: 10px 0;
    break-inside: avoid;
}

.main-movie-poster {
    max-width: 100%;
    height: auto;
    float: left;
    margin: 0 auto;
}

.main-movie-poster img {
    display: block;
    width: 100%;
    height: auto;
}

#more-button {
    padding: 25px 0px;
    margin: 0 auto 20px;
    width: 120px;
}

.movie-reviews {
    min-width: 310px;
    max-width: 310px;
    margin-bottom: 10px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
}

.review {
    border-bottom: 1px solid black;
}

.review-heading {
    text-align: center;
    max-height: 10%;
    width: 100%;
    border-bottom: 1px solid black;
}

.review-heading h5 {
    margin: 0;
}

.reviews {
    max-width: 310px;
    min-width: 310px;
    box-sizing: border-box;
}

.reviews-list {
    list-style: none;
    height: inherit;
    width: 100%;
    padding: 0 10px;
    font-size: .75em !important;
    margin: 0;
}

.review-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.actors {
    min-width: 310px;
    max-width: 310px;
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
    break-inside: avoid;
    margin-bottom: 30px;
    background-color: white;
}

.actors-heading {
    text-align: center;
    padding: 10px 0;
    max-height: 10%;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid black;
}

.character-name {
    border-bottom: 1px solid #212529;
}

.actors-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    z-index: 0
}

.actor {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 45%;
    text-align: center;
}

.actor-profile {
    display: inline-block;
}

.actor-image {
    height: auto;
    width: 100%;
    margin-right: 10px;
}

.actor-image img{
    height: auto;
    width: 100%;
}

.actor-data {
    padding: 0;
    margin: 0;
}

.actor-page {
    font-size: 18px;
    font-weight: 200;
}

.clips {
    border: 1px solid black;
    min-width: 310px;
    max-width: 310px;
    margin: 10px 0;
    display: flex;
    break-inside: avoid;
    flex-direction: column;
    background-color: white;
}

.clip {
    padding: 10px;
}

.clips-section {
    display: flex;
    flex-direction: column;
}

.clips-heading {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin: 0;
    width: 100%;
}

.clip-list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.clip-list-item {
    border: 1px solid black;
    margin: 10px;
    width: 95%;
}

.clip-list-item p {
    margin: 0;
    font-size: .75em;
}

.clip-thumbnail{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clip-thumbnail img {
    width: 100px;
    height: auto;
}

.clip-information {
    height: 100px;
    overflow-y: auto;
}

.clip-name {
    font-weight: 600;
    font-size: 18px;
}

.clip-channel {
    font-size: 16px;
    font-weight: 4;
    margin-bottom: 4px !important;
    border-bottom:1px solid black;
}

.clip-description {
    font-size: 16px;
    line-height: 1;
    font-weight: 200;
}

.movie-page {
    min-height: 100%;
    width: 100%;
    column-count: 1;
    column-width: 300px;
    column-gap: 30px;
    column-fill: balance;
    display: inline;
}

#about {
    min-height: inherit;
    font-size: .75em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.social-icons {
    font-size: 2.25em;
}

.movie-title,
.release-date {
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .content {
        width: 90vw;
        max-width: initial;
    }
    
    #about {
        width: 60vw;
        font-size: 1em;
    }

    .actor {
        width: 46%;
    }

    .search-form {
        width: 620px;
    }

    .movie-page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .main-movie-poster {
        height: auto;
        width: 45%;
        max-height: 100%;
        padding-right: 5%;
    }
    
    .main-movie-poster img {
        height: auto;
        width: 100%;
    }

    .movie-information {
        margin: 30px 0 0 0;
        max-width: 45%;
        min-width: 45%;
    }

    .actors {
        display: flex;
        flex-direction: column;
        min-width: initial;
        max-width: initial;
        font-size: .8em;
        width: 27%;
        margin: 30px 0 0 auto;
        background-color: white;
    }

    .actors-list {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
    }

    .actor-profile {
        width: 100%;
        display: inline-block;
        font-size: 1em;
    }

    .movie-reviews {
        min-width: initial;
        max-width: initial;
        margin: 30px 0 0 auto;
        break-inside: avoid;
        min-height: initial;
        max-width: 45%;
        min-width: 45%;
    }

    .review-section {
        min-height: 90%;
        max-height: 90%;
    }

    .review {
        margin: 20px;
    }

    .results-list {
        column-count: 3;
        column-width: 310px;
        column-fill: balance;
    }    

    .results {
        width: 100%;
    }

    .clips {
        margin: 30px 0;
        display: inline-block;
        min-width: initial;
        max-width: initial;
        width: 70%;
    }

    .clip-thumbnail {
        width: 133px;
    }

    .clip-thumbnail img {
        width: 100%;
        height: auto;
    }

    .clip-list {
        min-width: 100%;
        height: 100%;
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: space-evenly;
    }
}

@media screen and (min-width: 1280px) {
    .content {
        max-width: 1200px !important;
    }

    .results-list {
        column-count: 3;
        column-width: 310px;
        column-fill: balance;
    }    

    .main-movie-poster img {
        height: auto;
        width: 100%;
    }

    .actors-list {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: space-evenly;
    }

    .movie-reviews {
        margin: 30px 0 0 auto;
    }

    .review {
        margin: 20px;
    }

    .clip-list-item {
        max-width: 45%;
        min-width: 45%;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 1.5em;
    }
    
    .nav-right {
        font-size: .75em;
    }

    #about {
        width: 1200px;
    }

    .nav-left {
        font-size: 1.25em;
    }

    .social-icons {
        font-size: 2em;
    }
}